
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    /*----- HEADER SECTIION -----*/
.d-flex {       /* Header */
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    padding: 0.5em;
    color: white;
}

.left-nav, .right-nav {       /* Headers' both parts as a row direction with basis */
    display: flex;
    flex-flow: row wrap;
    flex-basis: 50%;
    flex-grow: 1;
}

.left-nav {       /* Headers' first part */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items:baseline;
}

img {       /* Store Logo */
    display: inline-block;
    vertical-align:middle;
    width: 100px;
    margin-left: 2em;
}

.left-nav ul {       /* Headers' first part list */
    display: inline-flex;
    list-style-type: none;
    padding: 1em;
}

.left-nav ul li {
    padding: 0.5em;
    font-size: 1.5em;
}

.right-nav {        /* Headers' second part */
    justify-content: flex-end;
    align-items:flex-start;
}

.right-nav > ul:nth-child(1) {        /* Headers' second part first child-list */
    display: flex;
    list-style-type: none;
    margin: 0 5em;
}

.right-nav ul li {
    border: 2px solid rgb(83, 83, 83);
    border-radius: 20px;
    padding: 0.8em;
    margin: 0.1em;
    font-size: 1em;
}

.right-nav ul li:hover {
    background-color: #dfa63c25;
    cursor: pointer;
}

.right-nav a {
    text-decoration: none;
    color: white;
}

.lang-menu {         /* Headers' second part second child-dropdown */
    display: none;
    list-style-type: none;
}
    /*----- HEADER SECTIION END -----*/
    /*----- MAIN SECTIION -----*/

.mainPartOne {
  background-color: indigo;
}
.carouselWBtns {
  width: 70%;
  background-color: teal;
  display: flex;
  align-items: center;
}

.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mainOne {
  width: 100vw;
  height: 60vh;
  background-color: orange;
  display: flex;
  justify-content: center;
}

.inner {
  transform: translateX(-0%);
  transition: transform 0.3s;
  display: flex;
  flex-wrap: nowrap;
  width: 300%;
  height: 100%;
}

.item {
  width: 100%;
  height: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cBtn {
  height: 20%;
  width: 2%;
  font-size: 100%;
}
.prev {
  transform: rotate(180deg);
}

.mainTwo {
  margin-top: 5vh;
  width: 100vw;
  height: 20vh;
  background-color: orange;
  display: flex;
  justify-content: center;
}
.inner2 {
  transform: translateX(-0%);
  transition: transform 0.3s;
  display: flex;
  flex-wrap: nowrap;
  width: 200%;
  height: 100%;
}

.item2 {
  width: 10%;
  height: 100%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item2Img {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item2Price {
  width: 60%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: lightgrey;
  border-radius: 3px;
}

.mainThree {
  margin-top: 5vh;
  width: 100vw;
  height: 50vh;
  background-color: red;
  display: flex;
  justify-content: center;
}

.inner3 {
  transform: translateX(-0%);
  transition: transform 0.3s;
  display: flex;
  flex-wrap: nowrap;
  width: 200%;
  height: 100%;
}
.item3 {
  width: 50%;
  height: 50%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigItem3 {
  width: 30%;
  height: 100%;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemGroup3 {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* ! ---------Section 4 properties--------  */

/* ! ------color for 4 container----- */
:root {
  --text: #677381;
  --link: white;
  --button-bg: #459e1a;
  --button-text: #00ff19;
  --button-text-hover: #bcf005;
  --section-background: black;
}

.container-4-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background-color: var(--section-background);
  padding-bottom: 1em;
  padding-top: 1em;
  font-family: Helvetica;
}

/* --- Item-1 div --- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .item-1-top-h1,
  .item-1-top-p {
    text-align: center;
  }
}

.item-1-top {
  flex-grow: 2;
}

.item-1-top-h1 {
  margin-top: 0.5em;
}

.item-1-top-p,
.item-2-bottom-p {
  margin-top: 1em;
}

.item-1-top,
.item-2-bottom-p {
  color: var(--text);
}

/* --- Item-2 div --- */

.item-2-bottom {
  flex-grow: 2;
  text-align: center;
}

.item-2-bottom button {
  margin-top: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.item-2-bottom-p a {
  color: var(--link);
}

.log-in-btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
}

.log-in-btn:hover {
  background-color: var(--button-text-hover);
  color: var(--link);
}

.item-2-bottom-p a {
  text-decoration: none;
}
