
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    /*----- HEADER SECTIION -----*/
.d-flex {       /* Header */
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    padding: 0.5em;
    color: white;
}

.left-nav, .right-nav {       /* Headers' both parts as a row direction with basis */
    display: flex;
    flex-flow: row wrap;
    flex-basis: 50%;
    flex-grow: 1;
}

.left-nav {       /* Headers' first part */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items:baseline;
}

img {       /* Store Logo */
    display: inline-block;
    vertical-align:middle;
    width: 100px;
    margin-left: 2em;
}

.left-nav ul {       /* Headers' first part list */
    display: inline-flex;
    list-style-type: none;
    padding: 1em;
}

.left-nav ul li {
    padding: 0.5em;
    font-size: 1.5em;
}

.right-nav {        /* Headers' second part */
    justify-content: flex-end;
    align-items:flex-start;
}

.right-nav > ul:nth-child(1) {        /* Headers' second part first child-list */
    display: flex;
    list-style-type: none;
    margin: 0 5em;
}

.right-nav ul li {
    border: 2px solid rgb(83, 83, 83);
    border-radius: 20px;
    padding: 0.8em;
    margin: 0.1em;
    font-size: 1em;
}

.right-nav ul li:hover {
    background-color: #dfa63c25;
    cursor: pointer;
}

.right-nav a {
    text-decoration: none;
    color: white;
}

.lang-menu {         /* Headers' second part second child-dropdown */
    display: none;
    list-style-type: none;
}
    /*----- HEADER SECTIION END -----*/
    /*----- MAIN SECTIION -----*/

.mainPartOne{
    background-color: indigo;
}
.carouselWBtns{
    width: 70%;
    background-color: teal;
    display: flex;
    align-items: center;
}

.carousel{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mainOne{
    width: 100vw;
    height: 60vh;
    background-color: orange;
    display: flex;
    justify-content: center;
}

.inner{
    transform: translateX(-0%);
    transition: transform 0.3s;
    display: flex;
    flex-wrap: nowrap;
    width: 400%;
    height: 100%;
}

.item{
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1BigImg{
    width: 50%;
    height: 100%;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.itemBigHalf2{
    width: 50%;
    height: 100%;
}

.gameBigTitle{
    width: 79.9%;
    height: 10%;
    background-color: mediumspringgreen;
    display: flex;
    align-items: center;
    padding-left: 20%;
}

.item1Group{
    height: 65%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}
.slot{
    margin-bottom: 2.5%;
    margin-left: 7%;
    margin-top: 5%;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid black;
}

.item1UnderInfo{
    height: 20%;
    width: 79.9%;
    display: flex;
    flex-direction: column;
}


.tag{
    background-color: gray;
    padding: 1%;
    border-radius: 3px;
}

.item1Price{
    margin-top: 10%;
    margin-left: 2%;
    background-color: gray;
    width: 20%;
    border-radius: 3px;
    text-align: end;
}

.item1Tags{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.cBtn{
    height: 20%;
    width: 2%;
    font-size: 100%;
}
.prev{
    transform: rotate(180deg);
}



.mainTwo{
    margin-top: 5vh;
    width: 100vw;
    height: 20vh;
    background-color: orange;
    display: flex;
    justify-content: center;
}
.inner2{
    transform: translateX(-0%);
    transition: transform 0.3s;
    display: flex;
    flex-wrap: nowrap;
    width: 200%;
    height: 100%;
}


.item2{
    width: 10%;
    height: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item2Img{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2Price{
    width: 60%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: lightgrey;
    border-radius: 3px;

}


.mainThree{
    margin-top: 5vh;
    width: 100vw;
    height: 50vh;
    background-color: red;
    display: flex;
    justify-content: center;
}

.inner3{
    transform: translateX(-0%);
    transition: transform 0.3s;
    display: flex;
    flex-wrap: nowrap;
    width: 200%;
    height: 100%;
}
.item3{
    width: 50%;
    height: 50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigItem3{
    width: 30%;
    height: 100%;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemGroup3{
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}