* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --item-1-background: #3b8093;
    --item-2-background: #4d7ba2;
    --text: #ffffff;
    --input-background: #414a4a;
    --button-background: #324b4a;
  }
  
  /* ! Main GRID */
  .main-cotainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: center;
  }
  
  .item-1 {
    padding-top: 3em;
    background-color: var(--item-1-background);
  }
  
  .main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .form-h3 {
    font-weight: lighter;
    font-size: 1.5rem;
    margin-bottom: 1.3em;
  }
  
  .main-input {
    background-color: var(--input-background);
    border: none;
    width: 17.7rem;
    height: 2.4rem;
    padding-left: 10px;
  }
  
  .btn-form {
    padding: 0.6em;
    width: 7rem;
    margin-top: 2em;
    background-color: var(--button-background);
    border: none;
  }
  
  .main-label,
  .btn-form,
  .item-1-link {
    margin: 0.5em;
  }
  
  .form-h3,
  .main-label,
  .btn-form,
  .item-1-link,
  .item-2-text,
  .item-2-link,
  .item-2-text-2,
  .btn-sign-up {
    color: var(--text);
  }
  
  .item-1-link,
  .item-2-link {
    font-weight: bold;
  }
  
  .btn-form,
  .btn-sign-up {
    text-decoration: none;
  }
  
  .item-1-link:hover {
    color: black;
  }
  .btn-form:hover {
    color: black;
    filter: brightness(85%);
  }
  .item-2-link:hover {
    color: black;
  }
  
  .btn-sign-up:hover {
    color: black;
    filter: brightness(85%);
  }
  
  .item-1,
  .item-2 {
    width: 100%;
    height: 100%;
  }
  
  .item-2 {
    padding-top: 5em;
    padding-bottom: 10em;
    background-color: var(--item-2-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .item-2-text,
  .item-2-link,
  .item-2-img {
    margin-bottom: 1.5em;
  }
  
  .btn-sign-up {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: var(--item-2-background);
    border: 1px solid var(--text);
  }
  
  .item-2-text-2 {
    margin-bottom: 0.8em;
  }
  
  /* ! Edgarai gali tuos properties pakaiesti */
  
  .footer {
    background-color: whitesmoke;
  }
  